* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10vh 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-bottom: 8vh;
}

.name {
  letter-spacing: 1rem;
  font-size: 3rem;
  padding: 0;
  font-weight: 700;
  text-align: center;
}

.name span {
  font-weight: 100;
}

p {
  line-height: 1.5rem;
  font-size: 1.05rem;
}

.title {
  border-top: 1px solid rgb(230, 228, 228);
  border-bottom: 1px solid rgb(230, 228, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p {
  font-weight: 500;
  margin: 0.5rem;
}

.sub-heading {
  font-size: 1.6rem;
  margin: 3.5rem 0 1.5rem 0;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6vh;
}

aside {
  border-right: 1px solid rgb(230, 228, 228);
  width: 37vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
}

.links {
  width: 33vw;
}

.link-details {
  line-height: 1.8rem;
}

.link-details a {
  margin-left: 0.5rem;
}

.skills-details {
  width: 30vw;
}

.edu-box {
  width: 33vw;
  min-height: 15vh;
}

.edu-major {
  font-size: 1.2rem;
  font-weight: 500;
}

main {
  width: 55vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4vw;
}

.about-heading {
  margin-top: 0.5vh;
}

.main-links {
  width: 55vw;
}

.work-title {
  margin: 1.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2.5rem;
}

.about {
  width: 53vw;
}

.work-details {
  width: 55vw;
  margin: 1.5rem;
}

.work-details li {
  width: 45vw;
  margin-left: 2vw;
  font-size: 1.03rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 550px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .links,
  aside,
  .link-details,
  a,
  .skills-details,
  .edu-box,
  .edu-major,
  .edu-details,
  .sub-heading,
  .about,
  .work-details,
  .title {
    width: 85vw;
    border: none;
    margin-left: 0;
  }

  .work-details li {
    width: 75vw;
  }

  aside {
    border-right: none;
  }

  .about-heading {
    margin-top: 3rem;
  }

  .name {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}
